[submodule "zeke-contracts"]
	path = zeke-contracts
	url = https://github.com/mnm458/zeke-contracts
[submodule "zeke-tg"]
	path = zeke-tg
	url = https://github.com/mnm458/zeke-tg
[submodule "zeke-relayer"]
	path = zeke-relayer
	url = https://github.com/mnm458/zeke-relayer
[submodule "zeke-kafka-consumer"]
	path = zeke-kafka-consumer
	url = https://github.com/mnm458/zeke-kafka-consumer
[submodule "zeke-zk-backend"]
	path = zeke-zk-backend
	url = https://github.com/mnm458/zeke-zk-backend
